{{ 'hid.css' | asset_url | stylesheet_tag }}

{% style %}
  .hid-image-banner img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: auto;
  }
  .hid-image-banner-{{section.id}}{
    margin: {{ section.settings.padding_top }}px 0 {{ section.settings.padding_bottom }}px 0;
  }
{% endstyle %}

<section class="hid-image-banner-{{section.id}} hid-image-banner container">
  {% if section.settings.image != blank  %}
    <img
      src="{{ section.settings.image | image_url }}"
      width="1000"
      height="1000"
      alt="{{ section.settings.image.alt }}"
      class="hidden-mobile">
  {% endif %}
  {% if section.settings.mobile_image != blank  %}
    <img
      src="{{ section.settings.mobile_image | image_url}}"
      width="1000"
      height="1000"
      alt="{{ section.settings.mobile_image.alt }}"
      class="hidden-desktop">
  {% endif %}
</section>

{% schema %}
{
  "name": "HID Image Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Image on mobile"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    }
  ],
  "presets": [
    {
      "category": "HID Landing Page",
      "name": "HID Image Banner"
    }
  ],
}
{% endschema %}