{{ 'hid.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #section-id-{{ section.id }}.logo-container {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: {{ section.settings.padding_top }}px 0 {{ section.settings.padding_bottom }}px 0;
  }
  #section-id-{{ section.id }}{
    .logo-list {
      --gap: {{section.settings.gap_mobile}}px;
      display: flex;
      flex-wrap: wrap;
      gap: var(--gap);
      justify-content: center;
      text-align: center;
    }
    .logo-list__link:hover .logo-list__logo-image {
      opacity: {{ section.settings.image_opacity | times: 1.2 | at_most: 100 }}%;
    }
    .hometitle{
      margin-bottom: 20px;
    }
    .logo-list__logo-image {
      display: flex;
      align-items: center;
      width: var(--logo-max-width, none);
      max-width: var(--logo-max-width, none);
      transition: opacity 100ms;
      opacity: {{ section.settings.image_opacity }}%;
    }
    .layout-row .logo-list__logo-image {
      margin: 0;
    }
    .layout-column .logo-list__logo-image {
      margin: 0 auto;
    }
    .logo-list__logo-image img{
      width: var(--logo-max-width, none);
      max-width: var(--logo-max-width, none);
    }
    .logo-list-wrapper{
      display: flex;
      flex-direction: {{ section.settings.text_icon_alignment }};
      align-items: center;
      gap: 5px;
      flex: 1;
      height: 100%;
    }
    .logo-list-outer{
      {% if section.settings.logo_bg_color != blank %}
        border-radius: 9px;
        padding: 11px;
        background: {{section.settings.logo_bg_color}};
      {% endif %}
    }
    .layout--row{
      flex-wrap: nowrap;
    }
    .layout--grid{
      flex-wrap: wrap;
    }
    .layout--grid .logo-list{
      justify-content: flex-start;
    }
    .layout--grid .logo-list-outer {
      flex: 0 1 calc(50% - (var(--gap) / 2));
    }
    .logo-list__logo-text p{
      font-size: {{section.settings.font_size}}px;
      color: {{section.settings.font_colour}}
    }
    {% if section.settings.enable_max_width %}
      .logo-list-wrapper{
        width: {{ section.settings.max_width }}px;
      }
    {% endif %}

    {%- for block in section.blocks -%}
      .logo-list__logo-{{ forloop.index }} {
        --logo-max-width: {{ block.settings.image_width }}px;
      }
      .text_icon_alignment-row.logo-list__logo-{{ forloop.index }} {
        justify-content: {{  block.settings.justify-content }}
      }
    {%- endfor -%}

    @media (min-width: 1000px) {
      .logo-list {
        --gap: {{section.settings.gap_desktop}}px;
      }
      .layout--grid .logo-list-outer {
        flex: 0 1 calc(25% - (3 * var(--gap)) / 4);
      }
      .logo-list__logo-text p{
        font-size: calc({{section.settings.font_size}} + 2)px;
      }
    }
  }
{%- endstyle -%}

<div id="section-id-{{ section.id }}" class="logo-container">

  {%- capture logos_html -%}
    {%- for block in section.blocks -%}
      <div class="logo-list-outer">
        {%- if block.settings.link != blank -%}
          <a class="logo-list-wrapper logo-list__logo logo-list__logo-{{ forloop.index }} text_icon_alignment-{{ section.settings.text_icon_alignment }}" href="{{ block.settings.link }}" {{ block.shopify_attributes }}>
        {%- else -%}
          <div class="logo-list-wrapper logo-list__logo logo-list__logo-{{ forloop.index }} text_icon_alignment-{{ section.settings.text_icon_alignment }}" {{ block.shopify_attributes }}>
        {%- endif -%}

        {%- if block.settings.image != blank -%}
          <div class="logo-list__logo-image">
            {%- liquid
              assign image_sizes = block.settings.image_width | append: 'px'
              assign image_widths = block.settings.image_width | times: 2 | prepend: ', ' | prepend: block.settings.image_width
              render 'image' with block.settings.image, sizes: image_sizes, widths: image_widths
            -%}
          </div>
        {%- endif -%}

        {%- if block.settings.text != blank -%}
          <div class="logo-list__logo-text">{{ block.settings.text }}</div>
        {%- endif -%}

        {%- unless block.settings.link != blank -%}
          </div>
        {%- else -%}
          </a>
        {%- endunless -%}
      </div>
    {%- endfor -%}
  {%- endcapture -%}

  <div class="{% if section.settings.full_width == false %}container{% endif %}">
    {% if section.settings.title != blank %}
      <div class="hometitle align-center{% if section.settings.show_title == false %} visually-hidden{% endif %}">
        <h2>
          {{- section.settings.title | escape -}}
        </h2>
      </div>
    {% endif %}
    <div class="logo-list-container">
      <div class="logo-list logo-list--count-{{ section.blocks.size }} layout--{{ section.settings.layout }}">
        {{- logos_html -}}
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "HID Logo list",
  "class": "section-logo-list hid-container",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Logo list"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show heading",
      "info": "If not visible, heading is still used for accessibility & SEO",
      "default": true
    },
    {
      "type": "radio",
      "id": "layout",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "row",
          "label": "Row"
        }
      ]
    },
    {
      "type": "radio",
      "id": "text_icon_alignment",
      "label": "Text and Icon alignment",
      "default": "column",
      "options": [
        {
          "value": "column",
          "label": "Stacked"
        },
        {
          "value": "row",
          "label": "Inline"
        }
      ]
    },
    {
      "type": "range",
      "id": "image_opacity",
      "label": "Logo opacity",
      "min": 20,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "Text size",
      "min": 8,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "color",
      "id": "logo_bg_color",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "font_colour",
      "label": "Text color"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "gap_mobile",
      "label": "Gap (Mobile)",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 10
    },
    {
      "type": "range",
      "id": "gap_desktop",
      "label": "Gap (Desktop)",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "enable_max_width",
      "label": "Enable icon and text max width",
      "default": false
    },
    {
      "type": "range",
      "id": "max_width",
      "label": "Icon and text max width",
      "min": 0,
      "max": 500,
      "step": 5,
      "unit": "px",
      "default": 250
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "Logo width",
          "min": 10,
          "max": 280,
          "step": 5,
          "unit": "px",
          "default": 180
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "info": "Optional",
        },
        {
          "type": "radio",
          "id": "justify-content",
          "label": "Text and Icon alignment",
          "default": "center",
          "options": [
            {
              "value": "flex-start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Centre"
            },
            {
              "value": "flex-end",
              "label": "Right"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "HID Logo list",
      "category": "HID Landing Page",
      "settings": {
      }
    }
  ]
}
{% endschema %}
