{{ 'hid.css' | asset_url | stylesheet_tag }}

{% style %}
  .hid-image-banner img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: auto;
  }
{% endstyle %}

<section class="hid-image-banner container">
  {% if section.settings.image != blank  %}
    <img
      src="{{ section.settings.image | image_url }}"
      width="1000"
      height="1000"
      alt="{{ section.settings.image.alt }}"
      class="hidden-mobile">
  {% endif %}
  {% if section.settings.mobile_image != blank  %}
    <img
      src="{{ section.settings.mobile_image | image_url}}"
      width="1000"
      height="1000"
      alt="{{ section.settings.mobile_image.alt }}"
      class="hidden-desktop">
  {% endif %}
</section>

{% schema %}
{
  "name": "HID Image Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Image on mobile"
    }
  ],
  "presets": [
    {
      "category": "HID Landing Page",
      "name": "HID Image Banner"
    }
  ],
}
{% endschema %}