{{ 'section-latest-articles.css' | asset_url | stylesheet_tag }}

<div class="latest-articles__container container">
  <div class="latest-articles__header">
    <h2 class="latest-articles__title h2">{{ section.settings.title }}</h2>
    <a href="{{ section.settings.btn_label_url }}" class="latest-articles__blog-link button">
      {{- section.settings.btn_label -}}
    </a>
  </div>
  <div class="latest-articles__articles hide-scroll-bar">
    {% if section.settings.blog != blank %}
    {% assign test = section.settings.blog.articles | sort: 'updated_at' | reverse %}

      {% for article in test limit: 3 %}
        {% render 'article-card', article: article, classes: 'latest-articles__article' %}
      {% endfor %}
    {% else %}
      {% for i in (1..3) %}
        <a href="#" class="latest-articles__article article">
          <div class="article__image image-wrapper">
            {{ 'image' | placeholder_svg_tag }}
          </div>
          <p class="article__date paragraph">10 may 2023</p>
          <p class="article__author">Title</p>
        </a>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% style %}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media screeen and (max-width: 760px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Latest Articles",
  "tag": "section",
  "class": "latest-articles",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Padding top",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Padding bottom",
      "default": 80
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Latest from our blog"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button label",
      "default": "All Posts"
    },
    {
      "type": "url",
      "id": "btn_label_url",
      "label": "Button url"
    }
  ],
  "presets": [
    {
      "name": "Latest Articles",
      "category": "Latest Articles"
    }
  ]
}
{% endschema %}
